<%= partial "partials/header" %>

<body>

    <%= partial "partials/navbar" %>

    <% unless is_blog_article? %>
      <%= yield %>
    <% else %>
      <%= partial "partials/post" %>
    <% end %>

    <%= partial "partials/footer" %>
    <!-- jQuery -->
    <%= javascript_include_tag "jquery" %>
    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min" %>
    <!-- Custom Theme JavaScript -->
    <%= javascript_include_tag "clean-blog.min" %>

</body>

</html>
