<%= partial "partials/header" %>

<body>

    <%= partial "partials/navbar" %>

    <% unless is_blog_article? %>
      <%= yield %>
    <% else %>
      <%= partial "partials/post" %>
    <% end %>

    <%= partial "partials/footer" %>

</body>

</html>
